a {
  color: #000c18;
}

.topText {
	background-color: #000c18;
}

.btn {
	background-color: #000c18;
	color: white;
}

textarea {
	padding: 15px;
	resize: none;
}

textarea:focus {
	outline: none;
}

ul.topnav-links {
  margin-left: auto;
}
  
nav.topnav {
  box-shadow: 3px 3px 3px lightgrey;
  background-color: white;
}

@media (max-width: 767px) {
	.nav-item {
		margin: 0 !important;
		/* border-bottom: 1px solid white; */
		text-align: center;
	}

	.navbar {
		padding: 10px !important;
	}
}