a {
  color: white;
}

ul.topnav-links {
  margin-left: auto;
}
  
nav.topnav {
  /* box-shadow: 3px 3px 3px lightgrey; */
  background-color: #000c18;
}

@media (max-width: 767px) {
	.nav-item {
		margin: 0 !important;
		/* border-bottom: 1px solid white; */
		text-align: center;
	}

	.navbar {
		padding: 10px !important;
	}
}