a {
  color: #000c18;
}


/* ========================================================= */
.topText {
	background-color: #000c18;
}

@media (max-width: 550px) {
	.topText {
		display: none !important;
	}
}
/* ========================================================= */


.btn {
	background-color: #000c18;
	color: white;
}

textarea {
	resize: none;
}

textarea:focus {
	outline: none;
}

@media (max-width: 767px) {
	textarea {
		max-width: 80% !important;
		margin: 0 auto 20px auto;
	}
}



/* ======================================================= */
ul.topnav-links {
  margin-left: auto;
}
  
nav.topnav {
  box-shadow: 3px 3px 3px lightgrey;
  background-color: white;
}

@media (max-width: 767px) {
	.nav-item {
		margin: 0 !important;
		text-align: center;
	}

	.navbar {
		padding: 10px !important;
	}
}
/* ======================================================== */


/* ======================================================== */
@media (max-width: 767px) {
	button {
		width: fit-content !important;
	}

	.boxes-and-buttons > div:nth-child(1) {
		padding: 0 20px !important;
	}

	input[type=file] {
		margin: -25px 0 20px !important;
	}
}
/* ============================================================= */